@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.jumbotron {
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0 1rem 0;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none !important;
}

#game-area {
    display: flex;
    align-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    font-size: 50px;
    border: 1px solid darkgray;
    text-align: center;
}

#div-in-form {
 border: 1px solid darkslategray;
 border-radius: 0.5rem;
 padding-top: 1rem;
 padding-bottom: 2rem;
 box-shadow: rgba(0 0 0 0.5);
}

@media (max-width: 511px) {
  aside {
    display: none;
  }
}