@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.jumbotron {
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0 1rem 0;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none !important;
}

#game-area {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  flex-shrink: 0;
}

td {
    font-size: 50px;
    border: 1px solid darkgray;
    text-align: center;
}

#div-in-form {
 border: 1px solid darkslategray;
 border-radius: 0.5rem;
 margin-top: 1rem;
 margin-bottom: 2rem;
 padding: 1.25rem;
 box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
 display: flex;
 flex-direction: column;
}

input {
  width: 100%;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 511px) {
  aside {
    display: none;
  }
  table {
    width: 300px;
  }
  td {
    width: 100px;
    height: 100px;
  }
  #newGame {
    background-color: lightskyblue;
    color: white;
  }

  /* #div-in-form {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  } */

  /* .col {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  input[type="text"] {
    width: 280px;
    height: 25x;
  }

  input[type="color"] {
    width: 280px;
    height: 18px;
  } */

  #div-with-a {
    width: 120px;
    height: 30px;
    background-color: lightblue;
    border-radius: 0.3rem;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  a {
    text-decoration: none;
    text-align: center;
  }

  #game-area {
    margin: 0 auto;
  }
}

@media (max-width: 1180px) and (min-width: 512px) {
    aside {
      width: 25%;
    }
    aside>a {
        width: 100%;
    }
    table {
        width: 300px;
    }
    td {
        width: 100px;
        height: 100px;
    }
    main {
        width: 65%;
    }
}

@media (min-width: 1181px) {
  main {
    width: 75%;
  }
  aside {
    width: 300px;
    max-width: 300px;
  }
  .col {
    width: 47.5%;
    padding: 2.5%;
  }
  table {
    width: 450px;
  }
  td {
    width: 150px;
    height: 150px;
  }
  #div-in-form {
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}